{% extends 'base.html' %}

{% block title %}PflegerInnen Formular{% endblock %}

{% block styles %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong></br>
      {% for field in form %}
        {% if field.errors %}
          {{field.label_tag}}{{field.errors}}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if carer %}
    <form action="{% url 'cadmin.views.carerUpdateForm' carer.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url 'cadmin.views.carerCreateForm' %}" method="post" class="form-horizontal">
  {% endif %}
    
      {% csrf_token %}
      
      <h2>Basisinformationen</h2>
      <div class="control-group">
        <label class="control-label">Vorname</label>
        <div class="controls">{{form.firstname}}</div>
      </div>
        <div class="control-group">
        <label class="control-label">Nachname</label>
      <div class="controls">{{form.lastname}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Telephonnummer AT</label>
        <div class="controls">{{form.phone_at}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Telephonnummer RO</label>
        <div class="controls">{{form.phone_ro}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Geburtsdatum</label>
        <div class="controls">
          <input type="text" name="date_of_birth" id="id_date_of_birth" value="{{form.date_of_birth.value|default_if_none:''}}"/>
        </div>
      </div>

      <h2>Zusatzinformationen und F&auml;higkeiten</h2>
      <div class="control-group">
        <label class="control-label">Gewicht</label>
        <div class="controls">{{form.weight}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Gr&ouml;&szlig;e</label>
        <div class="controls">{{form.height}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Heimatort</label>
        <div class="controls">{{form.hometown}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Sprachf&auml;higkeiten</label>
        <div class="controls">{{form.language_skills}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Pflegef&auml;higkeiten</label>
        <div class="controls">{{form.operation_skills}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Familie</label>
        <div class="controls">{{form.family}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Kinder</label>
        <div class="controls">{{form.children}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Raucher</label>
        <div class="controls">{{form.smoker}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">F&uuml;hrerschein</label>
        <div class="controls">{{form.driving_license}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Nationalit&auml;t</label>
        <div class="controls">{{form.nationality}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Versicherungsnummer</label>
        <div class="controls">{{form.insurance_number}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Reisepassnummer</label>
        <div class="controls">{{form.id_card_number}}</div>
      </div>

      <h2>Bank Informationen</h2>
      <div class="control-group">
        <label class="control-label">IBAN</label>
        <div class="controls">{{form.iban}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">BIC</label>
        <div class="controls">{{form.bic}}</div>
      </div>

      {% if perms.cadmin.carerPaymentView %}
      <h2>Honorar</h2>
      <div class="control-group">
        <label class="control-label">Vereinbartes Honorar</label>
        <div class="controls">{{form.duty}}</div>
      </div>
      {% endif %}

      <h2>Notitzen</h2>
      <div class="control-group">
        <label class="control-label">Notitzen</label>
        <div class="controls">
          <textarea id="id_remark" type="text" name="remark" rows="3" maxlength="500">
            {{form.remark.value|default_if_none:''}}
          </textarea>
        </div>
      </div>

      <input type="submit" value="Speichern" class="btn btn-primary"/>
      <input type="reset" value="Verwerfen" class="btn" />
    </form>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $('#id_date_of_birth').datepicker({
            format: 'yyyy-mm-dd'
          });
  </script>
{% endblock %}