{% extends 'base.html' %}

{% block title %}Carer Form{% endblock %}

{% block styles %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block content %}

  {% if carer %}
    <h1>Edit {{carer.firstname}} {{carer.lastname}}</h1>
  {% else %}
    <h1>Create New Carer</h1>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong></br>
      {% for field in form %}
        {% if field.errors %}
          {{field.label_tag}}{{field.errors}}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if carer %}
    <form action="{% url cadmin.views.carerUpdateForm carer.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url cadmin.views.carerCreateForm %}" method="post" class="form-horizontal">
  {% endif %}
    
      {% csrf_token %}
      
      <h2>Carer</h2>
      <div class="control-group">
        <label class="control-label">Firstname</label>
        <div class="controls">{{form.firstname}}</div>
      </div>
        <div class="control-group">
        <label class="control-label">Lastname</label>
      <div class="controls">{{form.lastname}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Phone</label>
        <div class="controls">{{form.phone}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Date of Birth</label>
        <div class="controls">
          <input type="text" name="date_of_birth" id="id_date_of_birth" value="{{form.date_of_birth.value}}"/>
        </div>
      </div>

      <h2>Skills and Additionals</h2>
      <div class="control-group">
        <label class="control-label">Weight</label>
        <div class="controls">{{form.weight}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Gr&ouml;&szlig;e</label>
        <div class="controls">{{form.height}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Hometown</label>
        <div class="controls">{{form.hometown}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Language Skills</label>
        <div class="controls">{{form.language_skills}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Operation Skills</label>
        <div class="controls">{{form.operation_skills}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Family</label>
        <div class="controls">{{form.family}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Kinder</label>
        <div class="controls">{{form.children}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Smoker</label>
        <div class="controls">{{form.smoker}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">F&uuml;hrerschein</label>
        <div class="controls">{{form.driving_license}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Nationality</label>
        <div class="controls">{{form.nationality}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Insurance Number</label>
        <div class="controls">{{form.insurance_number}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">ID Card Number</label>
        <div class="controls">{{form.id_card_number}}</div>
      </div>

      <h2>Bank Information</h2>
      <div class="control-group">
        <label class="control-label">IBAN</label>
        <div class="controls">{{form.iban}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">BIC</label>
        <div class="controls">{{form.bic}}</div>
      </div>

      <h2>Remarks</h2>
      <div class="control-group">
        <label class="control-label">Remarks</label>
        <div class="controls">
          <textarea id="id_remark" type="text" name="remark" rows="3" maxlength="500"></textarea>
        </div>
      </div>

      <input type="submit" value="Save" class="btn btn-primary"/>
      <input type="reset" value="Cancel" class="btn" />
    </form>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $('#id_date_of_birth').datepicker({
            format: 'yyyy-mm-dd'
          });
  </script>
{% endblock %}