{% extends 'base.html' %}

{% block title %}Carer Payment Form{% endblock %}

{% block styles %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block content %}

  {% if payment %}
    <h1>Edit Payment for {{payment.carer.firstname}} {{payment.carer.lastname}}</h1>
  {% else %}
    <h1>Add new Transaction <small>{{carer}}</small></h1>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong></br>
      {% for field in form %}
        {% if field.errors %}
          {{field.label_tag}}{{field.errors}}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if carer_payment %}
    <form action="{% url cadmin.views.carerPaymentEditForm carer.id carer_payment.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url cadmin.views.carerPaymentAddForm carer.id %}" method="post" class="form-horizontal">
  {% endif %}
    
      {% csrf_token %}

      <!-- hidden field for carer - who is obvious! -->
      <input type="hidden" name="carer" id="id_carer" value="{{carer.id}}"/>

      <div class="control-group">
        <label class="control-label">Method</label>
        <div class="controls">{{form.method}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Amount</label>
        <div class="controls">{{form.amount}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Date</label>
        <div class="controls">
          <input type="text" name="date" id="id_date" value="{{form.date.value}}"/>
        </div>
      </div>

      <input type="submit" value="Save" class="btn btn-primary"/>
      <input type="reset" value="Cancel" class="btn" />
    </form>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $('#id_date').datepicker({
            format: 'yyyy-mm-dd'
          });
  </script>
{% endblock %}