{% extends 'base.html' %}

{% block title %}Familien Formular{% endblock %}

{% block styles %}
  <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block content %}

  {% if family %}
    <h1>Family bearbeiten {{family}}</h1>
  {% else %}
    <h1>Familie hinzuf&uuml;gen</h1>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong></br>
      {% for field in form %}
        {% if field.errors %}
          {{field.label_tag}}{{field.errors}}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if family %}
    <form action="{% url cadmin.views.familyUpdateForm family.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url cadmin.views.familyCreateForm %}" method="post" class="form-horizontal">
  {% endif %}
    
      {% csrf_token %}

      <h2>Kontakt Person</h2>
      <div class="control-group">
        <label class="control-label">Vorname</label>
        <div class="controls">{{form.firstname_contact_person}}</div>
      </div>
        <div class="control-group">
        <label class="control-label">Nachname</label>
      <div class="controls">{{form.lastname_contact_person}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Telephonnummer</label>
        <div class="controls">{{form.phone_contact_person}}</div>
      </div>

      <h2>Zu Pflegende Person</h2>
      <div class="control-group">
        <label class="control-label">Vorname</label>
        <div class="controls">{{form.firstname_care_person}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Nachname</label>
        <div class="controls">{{form.lastname_care_person}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Telephonnummer</label>
        <div class="controls">{{form.phone_care_person}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Geburtsdatum</label>
        <div class="controls">
          <input type="text" name="date_of_birth" id="id_date_of_birth" value="{{form.date_of_birth.value}}"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Pflegestufe</label>
        <div class="controls">{{form.care_level}}</div>
      </div>


      <h2>Addresse</h2>
      <div class="control-group">
        <label class="control-label">Stra&szlig;e</label>
        <div class="controls">{{form.street}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Hausnummer</label>
        <div class="controls">{{form.number}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Postleitzahl</label>
        <div class="controls">{{form.postal_code}}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Stadt</label>
        <div class="controls">{{form.city}}</div>
      </div>

      <input type="submit" value="Speichern" class="btn btn-primary"/>
      <input type="reset" value="Verwerfen" class="btn" />
    </form>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}

{% block scripts %}
  <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>
  <script type="text/javascript">
    $('#id_date_of_birth').datepicker({
            format: 'yyyy-mm-dd'
          });
  </script>
{% endblock %}