{% extends 'base.html' %}

{% block title %}Carers{% endblock %}

{% block content %}

  <h1>Carer List</h1>
  
  <table class="table table-striped">

    <tr>
      <td>&#35;</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Phone Number</td>
    </tr>

    {% for carer in carer_list %}
      <tr>
        <td>
          <a href="{% url cadmin.views.carerDetails carer.id %}">
            {{carer.id}}
          </a>
        </td>
        <td>{{carer.firstname}}</td>
        <td>{{carer.lastname}}</td>
        <td>{{carer.phone}}</td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}