{% extends 'base.html' %}

{% block title %}PflegerInnen &Uuml;bersicht{% endblock %}

{% block content %}

  <h1>{{carer}}</h1>
  
  <div class="tabbable">
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#A" data-toggle="tab">Basisinformationen</a></li>
      <li><a href="#B" data-toggle="tab">Zusatzinformationen</a></li>
      <li><a href="#C" data-toggle="tab">F&auml;higkeiten und Notitzen</a></li>
    </ul>
    
    <div class="tab-content">
      
      <div class="tab-pane active" id="A">
        <dl>
          <dt>Vorname</dt>
          <dd>{{carer.firstname}}</dd>
          <dt>Nachname</dt>
          <dd>{{carer.lastname}}</dd>
          <dt>Telephonnummer</dt>
          <dd>{{carer.phone}}</dd>
        </dl>
      </div>
      
      <div class="tab-pane" id="B">
        <dl>
          <dt>Geburtsdatum</dt>
          <dd>{{carer.date_of_birth}}</dd>
          <dt>Heimatort</dt>
          <dd>{{carer.hometown}}</dd>
          <dt>Familie</dt>
          <dd>{% if carer.family %}yes{% else %}no{% endif %}</dd>
          <dt>Gewicht</dt>
          <dd>{{carer.weight}}</dd>
          <dt>Gr&ouml;&szlig;e</dt>
          <dd>{{carer.height}}</dd>
          <dt><td>Raucher</dt>
          <dd>{% if carer.smoker %}yes{% else %}no{% endif %}</dd>
          <dt><td>Kinder</dt>
          <dd>{% if carer.children %}yes{% else %}no{% endif %}</dd>
          <dt><td>F&uuml;rerschein</dt>
          <dd>{% if carer.driving_license %}yes{% else %}no{% endif %}</dd>
          <dt>Nationalit&auml;t</dt>
          <dd>{{carer.nationality}}</dd>
          <dt>Versicherungsnummer</dt>
          <dd>{{carer.insurance_number}}</dd>
          <dt>Reisepassnummer</dt>
          <dd>{{carer.id_card_number}}</dd>
          <dt>IBAN</dt>
          <dd>{{carer.iban}}</dd>
          <dt>BIC</dt>
          <dd>{{carer.bic}}</dd>
        </dl>
      </div>

      <div class="tab-pane" id="C">
        <dl>
          <dt>Sprachf&auml;higkeiten</dt>
          <dd>{{carer.get_language_skills_display}}</dd>
          <dt>Pflegef&auml;higkeiten</dt>
          <dd>{{carer.get_operation_skills_display}}</dd>
          <dt>Notitzen</dt>
          <dd>{% if carer.remark %}{{carer.remark}}{% else %}keine{% endif %}</dd>
        </dl>
      </div>

    </div>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#operations" data-toggle="tab">Eins&auml;tze</a></li>
        {% if perms.cadmin.carerPaymentView %}
        <li><a href="#payment" data-toggle="tab">Zahlungen</a></li>
        {% endif %}
        <!-- <li><a href="#registrations" data-toggle="tab">Registrations</a></li> -->
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="operations">
        <!-- filled by script -->
      </div>
      {% if perms.cadmin.carerPaymentView %}
      <div class="tab-pane" id="payment">
        <!-- filled by script -->
      </div>
      {% endif %}
      <!-- <div class="tab-pane" id="registrations"> -->
        <!-- filled by script -->
      <!-- </div> -->
    </div>
  </div>



{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}

{% block scripts %}
  <script>
    $("#operations").load("{% url cadmin.views.ajaxCarerOperationList carer.id %}");
  </script>
  {% if perms.cadmin.carerPaymentView %}
  <script>
    $("#payment").load("{% url cadmin.views.ajaxCarerPaymentList carer.id %}");
  </script>
  {% endif %}
{% endblock %}