
{% extends 'base.html' %}

{% block title %}Carer Form{% endblock %}

{% block content %}

  {% if carer %}
    <h1>Edit {{carer.firstname}} {{carer.lastname}}</h1>
  {% else %}
    <h1>Create New Carer</h1>
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-error">
      {% for field in form %}
        {% if field.errors %}
          {{field.label_tag}}{{field.errors}}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if carer %}
    <form action="{% url cadmin.views.carerUpdateForm carer.id %}" method="post" class="form-horizontal">
  {% else %}
    <form action="{% url cadmin.views.carerCreateForm %}" method="post" class="form-horizontal">
  {% endif %}
    
      {% csrf_token %}
      
      {% for field in form %}

        <div class="control-group">
          <label class="control-label" for="inputEmail">{{field.label_tag}}</label>
          
          <div class="controls">
            {{field}}

          </div>
        </div>
      {% endfor %}

      <input type="submit" value="Save" class="btn btn-primary"/>
      <input type="reset" value="Cancel" class="btn" />
    </form>


{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}