
{% extends 'base.html' %}

{% block title %}Carer Form{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.carerList %}">Carers</a>
  {% if carer %}  
    &gt; <a href="{% url cadmin.views.carerDetails carer.id %}">{{carer.id}}</a>
  {% else %}
    &gt; <a href="{% url cadmin.views.carerCreateForm %}">Add</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% if carer %}
    <h1>Edit carer {{carer.id}}</h1>
  {% else %}
    <h1>Create New Carer</h1>
  {% endif %}

  {% for field in form %}
    {%if field.errors %}
      <div id="block">
        {{field.label_tag}}: {{field.errors}}
      </div>
    {% endif %}
  {% endfor %}

  {% if carer %}
    <form action="{% url cadmin.views.carerUpdateForm carer.id %}" method="post">
  {% else %}
    <form action="{% url cadmin.views.carerCreateForm %}" method="post">
  {% endif %}
    
      {% csrf_token %}
  
      <table class="form">
        {% for field in form %}
          <tr class="form">
            <td class="form"> {{field.label_tag}} </td>
            <td class="form"> {{field}}           </td>
          </tr>
        {% endfor %}
      </table>

      <input type="submit" value="Save" />
      <input type="reset" value="Cancel" />
    </form>


{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}