{% extends 'base.html' %}

{% block title %}summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.carerList %}">Operationrs</a>
  &gt; <a href="{% url cadmin.views.carerDetails carer.id %}">{{carer.id}}</a>
{% endblock %}

{% block content %}

  <h1>{{carer.firstname}} {{carer.lastname}}</h1>
  
  <div class="tabbable">
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#A" data-toggle="tab">Basic Information</a></li>
      <li><a href="#B" data-toggle="tab">Additional Information</a></li>
      <li><a href="#C" data-toggle="tab">Skills and Remarks</a></li>
    </ul>
    
    <div class="tab-content">
      
      <div class="tab-pane active" id="A">
        <dl>
          <dt>Firstname</dt>
          <dd>{{carer.firstname}}</dd>
          <dt>Lastname</dt>
          <dd>{{carer.lastname}}</dd>
          <dt>Phone</dt>
          <dd>{{carer.phone}}</dd>
        </dl>
      </div>
      
      <div class="tab-pane" id="B">
        <dl>
          <dt>Date of Birth</dt>
          <dd>{{carer.date_of_birth}}</dd>
          <dt>Hometown</dt>
          <dd>{{carer.hometown}}</dd>
          <dt>Family</dt>
          <dd>{% if carer.family %}yes{% else %}no{% endif %}</dd>
          <dt>Weight</dt>
          <dd>{{carer.weight}}</dd>
          <dt><td>Smoker</dt>
          <dd>{% if carer.smoker %}yes{% else %}no{% endif %}</dd>
          <dt>Nationality</dt>
          <dd>{{carer.nationality}}</dd>
          <dt>Insurance Number</dt>
          <dd>{{carer.insurance_number}}</dd>
          <dt>ID Card Number</dt>
          <dd>{{carer.id_card_number}}</dd>
          <dt>IBAN</dt>
          <dd>{{carer.iban}}</dd>
          <dt>BIC</dt>
          <dd>{{carer.bic}}</dd>
        </dl>
      </div>

      <div class="tab-pane" id="C">
        <dl>
          <dt>Language skills</dt>
          <dd>{{carer.get_language_skills_display}}</dd>
          <dt>Operation skills</dt>
          <dd>{{carer.get_operation_skills_display}}</dd>
          <dt>Remarks</dt>
          <dd>{% if carer.remark %}{{carer.remark}}{% else %}none{% endif %}</dd>
        </dl>
      </div>

    </div>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#operations" data-toggle="tab">Operations</a></li>
        {% if perms.cadmin.carerPaymentView %}
        <li><a href="#payment" data-toggle="tab">Payment</a></li>
        {% endif %}
        <!-- <li><a href="#registrations" data-toggle="tab">Registrations</a></li> -->
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="operations">
        <!-- filled by script -->
      </div>
      {% if perms.cadmin.carerPaymentView %}
      <div class="tab-pane" id="payment">
        <!-- filled by script -->
      </div>
      {% endif %}
      <!-- <div class="tab-pane" id="registrations"> -->
        <!-- filled by script -->
      <!-- </div> -->
    </div>
  </div>



{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}

{% block scripts %}
  <script>
    $("#operations").load("{% url cadmin.views.ajaxCarerOperationList carer.id %}");
  </script>
  {% if perms.cadmin.carerPaymentView %}
  <script>
    $("#payment").load("{% url cadmin.views.ajaxCarerPaymentList carer.id %}");
  </script>
  {% endif %}
{% endblock %}