{% extends 'base.html' %}

{% block title %}PflegerInnen{% endblock %}

{% block content %}

  <h1>PflegerInnen Liste{% if archive %}&nbsp;- Archiv{% endif %}</h1>
  <p class="muted">
    Sortiert nach Nachnamen der pflegenden Personen.
  </p>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Tel. AT</th>
        <th>Tel. RO</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
    {% for carer in carer_list %}
      <tr>
        <td>{{carer.lastname}}</td>
        <td>{{carer.firstname}}</td>
        <td>{{carer.phone_at|default_if_none:"&nbsp;"}}</td>
        <td>{{carer.phone_ro|default_if_none:"&nbsp;"}}</td>
        <td>
          <a href="{% url 'cadmin.views.carerDetails' carer.id %}">
            <span class="label">Zeigen</span>
          </a>
          &nbsp;
          <a href="{% url 'cadmin.views.carerUpdateForm' carer.id %}">
            <span class="label">Bearbeiten</span>
          </a>
          &nbsp;
          {% if perms.cadmin.carerCreateDelete %}
          {% if archive %} <!-- activate when archived -->
          <a href="{% url 'cadmin.views.carerActivate' carer.id %}">
            <span class="label">Reaktivieren</span>
          </a>
          {% else %} <!-- archive when activeted -->
          <a href="{% url 'cadmin.views.carerArchive' carer.id %}">
            <span class="label">Archivieren</span>
          </a>
          {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}