{% extends 'base.html' %}

{% block title %}summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.carerList %}">Carers</a>
  &gt; <a href="{% url cadmin.views.carerDetails carer.id %}">{{carer.id}}</a>
{% endblock %}

{% block content %}

  <h1>{{carer.firstname}} {{carer.lastname}}</h1>
  
    <table class="list">
      <tr><td colspan="2" class="list_long_c">Basic Information</td></tr>
      <tr><td class="list_long_l">Firstname</td>
            <td class="list_long_r">{{carer.firstname}}</td></tr>
      <tr><td class="list_long_l">Lastname</td>
            <td class="list_long_r">{{carer.lastname}}</td></tr>
      <tr><td class="list_long_l">Phone</td>
            <td class="list_long_r">{{carer.phone}}</td></tr>

      <tr><td colspan="2" class="list_long_c">Generell Information</td></tr>
      <tr><td class="list_long_l">Date of Birth</td>
            <td class="list_long_r">{{carer.date_of_birth}}</td></tr>
      <tr><td class="list_long_l">Hometown</td>
            <td class="list_long_r">{{carer.hometown}}</td></tr>
      <tr><td class="list_long_l">Family</td>
            <td class="list_long_r">{{carer.family}}</td></tr>
      <tr><td class="list_long_l">Weight</td>
            <td class="list_long_r">{{carer.weight}}</td></tr>
      <tr><td class="list_long_l">Smoker</td>
            <td class="list_long_r">{{carer.smoker}}</td></tr>
      <tr><td class="list_long_l">Trade registered</td>
            <td class="list_long_r">{{carer.trade_registered}}</td></tr>
      
      <tr><td colspan="2" class="list_long_c">Skills and Remarks</td></tr>
      <tr><td class="list_long_l">Language skills</td>
            <td class="list_long_r">{{carer.language_skills}}</td></tr>
      <tr><td class="list_long_l">Care skills</td>
            <td class="list_long_r">{{carer.care_skills}}</td></tr>
      <tr><td colspan="2" class="list_long_l">Remarks</td></tr>
      <tr><td colspan="2" class="list_long_r">{{carer.remark}}</td></tr>
    </table>

  {% if care_list %}
  <h2>Operations</h2>

    <table class = "list">
      <tr>
        <td class="list_id">&#35;</td>
        <td class="list_sync">Start Date</td>
        <td class="list_sync">End Date</td>
        <td class="list_sync">Family</td>
      </tr>

      {% for care in care_list %}
      <tr>
        <td class="list_id">
          <a href="{% url cadmin.views.operationUpdateForm care.id%}">
            {{care.id}}
          </a>
        </td>
        <td>{{care.start_date}}</td>
        <td>{{care.end_date}}</td>
        <td><a href="{% url cadmin.views.familyDetails care.family.id %}">{{care.family.lastname_contact_person}}</a></td>
      </tr>
      {% endfor %}  
    </table>

  {% endif %}



{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}