{% extends 'base.html' %}

{% block title %}Familien &Uuml;bersicht{% endblock %}

{% block content %}

  <h1>{{family}}</h1>
  
  <div class="tabbable">
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#A" data-toggle="tab">Kontakt Person</a></li>
      <li><a href="#B" data-toggle="tab">Zu Pflegende Person</a></li>
      <li><a href="#C" data-toggle="tab">Addresse</a></li>
    </ul>
    
    <div class="tab-content">
      
      <div class="tab-pane active" id="A">
        <dl>
          <dt>Vorname</dt>
          <dd>{{family.firstname_contact_person}}</dd>
          <dt>Nachname</dt>
          <dd>{{family.lastname_contact_person}}</dd>
          <dt>Telephonnummer</dt>
          <dd>{{family.phone_contact_person}}</dd>
        </dl>
      </div>

      <div class="tab-pane" id="B">
        <dl>
          <dt>Vorname</dt>
          <dd>{{family.firstname_care_person}}</dd>
          <dt>Nachname</dt>
          <dd>{{family.lastname_care_person}}</dd>
          <dt>Telephonnummer</dt>
          <dd>{{family.phone_care_person}}</dd>
          <dt>Pflegestufe</dt>
          <dd>{{family.get_care_level_display}}</dd>
          <dt>Geburtsdatum</dt>
          <dd>{{family.date_of_birth}}</dd>
        </dl>
      </div>

      <div class="tab-pane" id="C">
        <h3>Addresse</h3>
        <address>
          {{family.street}} {{family.number}}<br>
          {{family.postal_code}} {{family.city}}<br>
        </address>
      </div>

    </div>
  </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#operations" data-toggle="tab">Eins&auml;tze</a></li>
        {% if perms.cadmin.familyPaymentView %}
        <li><a href="#payment" data-toggle="tab">Zahlungen</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="operations">
        <!-- filled by script -->
      </div>
      {% if perms.cadmin.familyPaymentView %}
      <div class="tab-pane" id="payment">
        <!-- filled by script -->
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}


{% block scripts %}
  <script>
    $("#operations").load("{% url cadmin.views.ajaxFamilyOperationList family.id %}");
  </script>
  <script>
    $("#payment").load("{% url cadmin.views.ajaxFamilyPaymentList family.id %}");
  </script>
{% endblock %}