{% extends 'base.html' %}

{% block title %}summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.familyList %}">Familien</a>
  &gt; <a href="{% url cadmin.views.familyDetails family.id %}">{{family.id}}</a>
{% endblock %}

{% block content %}

  <h1>Familie {{family.lastname_contact_person}}</h1>
  
  <div class="tabbable">
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#A" data-toggle="tab">Contact Person</a></li>
      <li><a href="#B" data-toggle="tab">Care Person</a></li>
      <li><a href="#C" data-toggle="tab">Address</a></li>
    </ul>
    
    <div class="tab-content">
      
      <div class="tab-pane active" id="A">
        <dl>
          <dt>Firstname</dt>
          <dd>{{family.firstname_contact_person}}</dd>
          <dt>Lastname</dt>
          <dd>{{family.lastname_contact_person}}</dd>
          <dt>Phone</dt>
          <dd>{{family.phone_contact_person}}</dd>
        </dl>
      </div>

      <div class="tab-pane" id="B">
        <dl>
          <dt>Firstname</dt>
          <dd>{{family.firstname_operation_person}}</dd>
          <dt>Lastname</dt>
          <dd>{{family.lastname_operation_person}}</dd>
          <dt>Phone</dt>
          <dd>{{family.phone_operation_person}}</dd>
          <dt>Care level</dt>
          <dd>{{family.get_care_level_display}}</dd>
          <dt>Date of Birth</dt>
          <dd>{{family.date_of_birth}}</dd>
        </dl>
      </div>

      <div class="tab-pane" id="C">
        <h3>Address</h3>
        <address>
          {{family.street}} {{family.number}}<br>
          {{family.postal_code}} {{family.city}}<br>
        </address>
      </div>

    </div>
  </div>

    {% if operation_list %}
    <h2>Operations</h2>

      <table class = "table table-striped">
        <tr>
          <td>&#35;</td>
          <td>Start Date</td>
          <td>End Date</td>
          <td>Family</td>
        </tr>

        {% for operation in operation_list %}
        <tr>
          <td>
            <a href="{% url cadmin.views.operationUpdateForm operation.id %}">
              {{operation.id}}
            </a>
          </td>
          <td>{{operation.start_date}}</td>
          <td>{{operation.end_date}}</td>
          <td><a href="{% url cadmin.views.carerDetails operation.carer.id %}">
              {{operation.carer.firstname}}&nbsp;{{operation.carer.lastname}}
          </a></td>
        </tr>
        {% endfor %}  
      </table>

    {% endif %}

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}