{% extends 'base.html' %}

{% block title %}summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.familyList %}">Familien</a>
  &gt; <a href="{% url cadmin.views.familyDetails family.id %}">{{family.id}}</a>
{% endblock %}

{% block content %}

  <h1>Familie {{family.lastname_contact_person}}</h1>
  
    <table class="list">
      <tr><td colspan="2" class="list_long_c">Contact Person</td></tr>
      <tr><td class="list_long_l">Firstname</td>
        <td class="list_long_r">{{family.firstname_contact_person}}</td></tr>
      <tr><td class="list_long_l">Lastname</td>
        <td class="list_long_r">{{family.lastname_contact_person}}</td></tr>
      <tr><td class="list_long_l">Phone</td>
        <td class="list_long_r">{{family.phone_contact_person}}</td></tr>
      
      <tr><td colspan="2" class="list_long_c">Care Person</td></tr>
      <tr><td class="list_long_l">Firstname</td>
        <td class="list_long_r">{{family.firstname_care_person}}</td></tr>
      <tr><td class="list_long_l">Lastname</td>
        <td class="list_long_r">{{family.lastname_care_person}}</td></tr>
      <tr><td class="list_long_l">Phone</td>
        <td class="list_long_r">{{family.phone_care_person}}</td></tr>
      
      <tr><td colspan="2" class="list_long_c">Generell Informations</td></tr>
      <tr><td class="list_long_l">Street</td>
        <td class="list_long_r">{{family.street}}</td></tr>
      <tr><td class="list_long_l">Number</td>
        <td class="list_long_r">{{family.number}}</td></tr>
      <tr><td class="list_long_l">Postal code</td>
        <td class="list_long_r">{{family.postal_code}}</td></tr>
      <tr><td class="list_long_l">City</td>
        <td class="list_long_r">{{family.city}}</td></tr>
      <tr><td class="list_long_l">Care level</td>
        <td class="list_long_r">{{family.care_level}}</td></tr>
      <tr><td class="list_long_l">Date of Birth</td>
        <td class="list_long_r">{{family.date_of_birth}}</td></tr>
    </table>

    {% if care_list %}
      <h2>Employments</h2>
      <table class = "list">
        <tr>
          <td class="list_sync">Start Date</td>
          <td class="list_sync">End Date</td>
          <td class="list_sync">Family</td>
        </tr>

        {% for care in care_list %}
        <tr>
          <td>{{care.start_date}}</td>
          <td>{{care.end_date}}</td>
          <td>
            <a href="{% url cadmin.views.carerDetails care.carer.id %}">{{care.carer.firstname}}&nbsp;{{care.carer.lastname}}</a>
          </td>
        </tr>
        {% endfor %}  
      </table>
    {% endif %}

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}