{% extends 'base.html' %}

{% block title %}Families{% endblock %}

{% block content %}

  <h1>Family List</h1>
  
  <table class="table table-striped">

    <tr>
      <td>&#35;</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Phone Number</td>
      <td>Actions</td>
    </tr>

    {% for family in family_list %}
      <tr>
        <td>
          <a href="{% url cadmin.views.familyDetails family.id %}">
            {{family.id}}
          </a>
        </td>
        <td>{{family.firstname_contact_person}}</td>
        <td>{{family.lastname_contact_person}}</td>
        <td>{{family.phone_contact_person}}</td>
        <td>
          <a href="{% url cadmin.views.familyUpdateForm family.id %}">
            <span class="label">Edit</span>
          </a>
          &nbsp;
          <a href="#familyDeleteDialog" data-toggle="modal">
            <span class="label">Delete</span>
          </a>
          <!-- include the modal embedded in this file -->
          {% include 'cadmin/dialogs/familyDeleteDialog.html' %}
        </td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}