{% extends 'base.html' %}

{% block title %}Family Form{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.familyList %}">Families</a>
  {% if family %}  
    &gt; <a href="{% url cadmin.views.familyDetails family.id %}">{{family.id}}</a>
  {% else %}
    &gt; <a href="{% url cadmin.views.familyCreateForm %}">Add</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% if family %}
    <h1>Edit Family {{family.id}}</h1>
  {% else %}
    <h1>Create New Family</h1>
  {% endif %}

  {% for field in form %}
    {%if field.errors %}
      <div id="block">
        {{field.label_tag}}: {{field.errors}}
      </div>
    {% endif %}
  {% endfor %}

  {% if family %}
    <form action="{% url cadmin.views.familyUpdateForm family.id %}" method="post">
  {% else %}
    <form action="{% url cadmin.views.familyCreateForm %}" method="post">
  {% endif %}
    
      {% csrf_token %}
  
      <table class="form">
        {% for field in form %}
          <tr class="form">
            <td class="form"> {{field.label_tag}} </td>
            <td class="form"> {{field}}           </td>
          </tr>
        {% endfor %}
      </table>

      <input type="submit" value="Save" />
      <input type="reset" value="Cancel" />
    </form>


{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}