{% extends 'base.html' %}

{% block title %}Families{% endblock %}

{% block content %}

  <h1>Family List</h1>
  
  <table class="table table-striped">

    <tr>
      <td>&#35;</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Phone Number</td>
      <td>Actions</td>
    </tr>

    {% for family in family_list %}
      <tr>
        <td>
          <a href="{% url cadmin.views.familyDetails family.id %}">
            {{family.id}}
          </a>
        </td>
        <td>{{family.firstname_contact_person}}</td>
        <td>{{family.lastname_contact_person}}</td>
        <td>{{family.phone_contact_person}}</td>
        <td>
          <a href="{% url cadmin.views.familyUpdateForm family.id %}">
            <span class="label">Edit</span>
          </a>
          &nbsp;
          <a href="#deleteModal" data-toggle="modal">
            <span class="label">Delete</span>
          </a>

          <!-- Modal -->
          <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <h3 id="myModalLabel">Confirm</h3>
            </div>
            <div class="modal-body">
              <p>Are you sure that you want delete this Family?</p>
              <small>
                (Care Person: {{family.firstname_care_person}} {{family.firstname_care_person}}
                 Contact Person: {{family.firstname_contact_person}} {{family.firstname_contact_person}})
              </small>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <a href="{% url cadmin.views.familyDelete family.id %}" role="button" class="btn btn-primary">Conirm</a>
            </div>
          </div>
          <!-- End Modal -->
        </td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}