{% extends 'base.html' %}

{% block title %}Families{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{% url cadmin.views.familyList %}">Families</a>
{% endblock %}

{% block content %}

  <h1>Family List</h1>
  
  <table class="list">

    <tr>
      <td class="list_id">&#35;</td>
      <td class="list_etc">First Name</td>
      <td class="list_etc">Last Name</td>
      <td class="list_etc">Phone Number</td>
    </tr>

    {% for family in family_list %}
      <tr>
        <td class="list_id">
          <a href="{% url cadmin.views.familyDetails family.id %}">
            {{family.id}}
          </a>
        </td>
        <td class="list_etc">{{family.firstname_contact_person}}</td>
        <td class="list_etc">{{family.lastname_contact_person}}</td>
        <td class="list_etc">{{family.phone_contact_person}}</td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}