{% extends 'base.html' %}

{% block title %}Zusammenfassung{% endblock %}

{% block content %}

  <h1>Zusammenfassung</h1>

    <div class="well">
      {{carer_count}} PflegerInnen in Datenbank (davon {{carer_archive_count}} archivierd)</br>
      {{family_count}} Familien in Datenbank (davon {{family_archive_count}} archivierd)</br>
      {{operation_count}} Aktive Eins&auml;tze
    </div>

  {% if arrival_list %}
    <h2>Ank&uuml;nfte:</h2>
    Liste der nächsten zehn Ankünfte.
    <table class="table table-striped">
      <tr>
        <td>Datum</td>
        <td>PflegerInn</td>
        <td>Zu Pflegende Person</td>
        <td>Aktionen</td>
      </tr>

      {% for operation in arrival_list %}
        <tr>
          <td>{{operation.start_date}}</td>
          <td>
            <a href="{% url 'cadmin.views.carerDetails' operation.carer.id %}">{{operation.carer.firstname}}&nbsp;{{operation.carer.lastname}}</a>
          </td>
          <td><a href="{% url 'cadmin.views.familyDetails' operation.family.id %}">
            {{operation.family.firstname_care_person}}&nbsp;{{operation.family.lastname_care_person}}
          </a></td>
          <td><a href="{% url 'cadmin.views.operationUpdateForm' operation.id %}"><span class="label">Bearbeiten</span></a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if departure_list %}
    <h2>Abbreisen:</h2>
    Liste der nächsten zehn Abbreisen.
    <table class="table table-striped">
      <tr>
        <td>Datum</td>
        <td>PflegerInn</td>
        <td>Zu Pflegende Person</td>
        <td>Aktionen</td>
      </tr>

      {% for operation in departure_list %}
        <tr>
          <td>{{operation.end_date}}</td>
          <td>
            <a href="{% url 'cadmin.views.carerDetails' operation.carer.id %}">{{operation.carer.firstname}}&nbsp;{{operation.carer.lastname}}</a>
          </td>
          <td><a href="{% url 'cadmin.views.familyDetails' operation.family.id %}">
            {{operation.family.firstname_care_person}}&nbsp;{{operation.family.lastname_care_person}}
          </a></td>
          <td><a href="{% url 'cadmin.views.operationUpdateForm' operation.id %}"><span class="label">Bearbeiten</span></a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}