{% extends 'base.html' %}

{% block title %}Summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{cadmin.summary}}">Summary</a>
{% endblock %}

{% block content %}

  <h1>Summary</h1>
  <p> {{carer_count}} Carers in Database </p>
  <p> {{family_count}} Families in Database </p>
  <p> {{care_count}} Active Cares </p>

  {% if arrival_list %}
    <h2>Arrivals:</h2>
    <table class="list">
      <tr>
        <td class="list_sync">Arrival Date</td>
        <td class="list_sync">Carer</td>
        <td class="list_sync">Family</td>
      </tr>

      {% for care in arrival_list %}
        <tr>
          <td>{{care.start_date}}</td>
          <td>
            <a href="/cadmin/c/{{care.carer.id}}">{{care.carer.firstname}}&nbsp;{{care.carer.lastname}}</a>
          </td>
          <td><a href="/cadmin/f/{{care.family.id}}">{{care.family.lastname_contact_person}}</a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if departure_list %}
    <h2>Next Departures:</h2>
    <table class="list">
      <tr>
        <td class="list_sync">Date</td>
        <td class="list_sync">Carer</td>
        <td class="list_sync">Family</td>
      </tr>

      {% for care in departure_list %}
        <tr>
          <td>{{care.end_date}}</td>
          <td>
            <a href="/cadmin/c/{{care.carer.id}}">{{care.carer.firstname}}&nbsp;{{care.carer.lastname}}</a>
          </td>
          <td><a href="/cadmin/f/{{care.family.id}}">{{care.family.lastname_contact_person}}</a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}