{% extends 'base.html' %}

{% block title %}Summary{% endblock %}

{% block content %}

  <h1>Summary</h1>

    <div class="well">
      {{carer_count}} Carer in Database </br>
      {{family_count}} Families in Database </br>
      {{operation_count}} Active Operations
    </div>

  {% if arrival_list %}
    <h2>Arrivals:</h2>
    <table class="table table-striped">
      <tr>
        <td>Date</td>
        <td>Carer</td>
        <td>Care Person</td>
        <td>Actions</td>
      </tr>

      {% for operation in arrival_list %}
        <tr>
          <td>{{operation.start_date}}</td>
          <td>
            <a href="{% url cadmin.views.carerDetails operation.carer.id %}">{{operation.carer.firstname}}&nbsp;{{operation.carer.lastname}}</a>
          </td>
          <td><a href="{% url cadmin.views.familyDetails operation.family.id %}">
            {{operation.family.firstname_care_person}}&nbsp;{{operation.family.lastname_care_person}}
          </a></td>
          <td><a href="{% url cadmin.views.operationUpdateForm operation.id %}"><span class="label">Edit</span></a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if departure_list %}
    <h2>Departures:</h2>
    <table class="table table-striped">
      <tr>
        <td>Date</td>
        <td>Carer</td>
        <td>Care Person</td>
        <td>Actions</td>
      </tr>

      {% for operation in departure_list %}
        <tr>
          <td>{{operation.end_date}}</td>
          <td>
            <a href="{% url cadmin.views.carerDetails operation.carer.id %}">{{operation.carer.firstname}}&nbsp;{{operation.carer.lastname}}</a>
          </td>
          <td><a href="{% url cadmin.views.familyDetails operation.family.id %}">
            {{operation.family.firstname_care_person}}&nbsp;{{operation.family.lastname_care_person}}
          </a></td>
          <td><a href="{% url cadmin.views.operationUpdateForm operation.id %}"><span class="label">Edit</span></a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}

{% block topicmenu %}
  {% include 'cadmin/topicmenu.html' %}
{% endblock %}