<ul class="nav nav-list">
{% if user.is_authenticated %}

  <!-- Family Section -->

  <li class="nav-header">Families</li>
  <li><a href="{% url cadmin.views.familyList %}">Family List</a></li>

  {% if family %}
  <li><a href="{% url cadmin.views.familyUpdateForm family.id %}">Edit</a></li>
  {% endif %}

  {% if perms.cadmin.familyCreateDelete and family%}
  <li><a href="#familyDeleteDialog" data-toggle="modal">Delete</a></li>
  <!-- include the modal embedded in this file -->
  {% include 'cadmin/dialogs/familyDeleteDialog.html' %}
  {% endif %}

  {% if perms.cadmin.familyCreateDelete %}
  <li><a href="{% url cadmin.views.familyCreateForm %}">Add</a></li>
  {% endif %}


  <!-- Carer Section -->

  <li class="nav-header">Carer</li>
  <li><a href="{% url cadmin.views.carerList %}">Carer List</a></li>

  {% if carer %}
  <li><a href="{% url cadmin.views.carerUpdateForm carer.id %}">Edit</a></li>
  {% endif %}

  {% if perms.cadmin.carerPaymentView and carer%}
  <li><a href="{% url cadmin.views.carerPaymentAddForm carer.id %}">Pay</a></li>
  {% endif %}

  {% if perms.cadmin.carerCreateDelete and carer%} 
  <li><a href="#carerDeleteDialog" data-toggle="modal">Delete</a></li>
  <!-- include the modal embedded in this file -->
  {% include 'cadmin/dialogs/carerDeleteDialog.html' %}
  {% endif %}

  {% if perms.cadmin.carerCreateDelete%} 
  <li><a href="{% url cadmin.views.carerCreateForm %}">Add</a></li>
  {% endif %}

  <!-- Operation Section -->    

  <li class="nav-header">Operations</li>

  {% if perms.cadmin.operationCreateDelete %}
  <li><a href="{% url cadmin.views.operations %}">Operations</a></li> 
  {% endif %}

  {% if perms.cadmin.operationCreateDelete %}
  <li><a href="{% url cadmin.views.operationCreateForm %}">Add</a></li>
  {% endif %}

  {% if perms.cadmin.operationCreateDelete and operation %}
  <li><a href="{% url cadmin.views.operationDelete operation.id %}">Delete</a></li>
  {% endif %}

{% endif %}
</ul>