{% if user.is_authenticated %}
  <a href="{% url cadmin.views.familyList %}">Families</a>
{% endif %}

{% if user.is_authenticated and family %}
  <a href="{% url cadmin.views.familyUpdateForm family.id %}">
    &lfloor;&nbsp;Edit
  </a>
{% endif %}

{% if perms.cadmin.familyCreateDelete %}
  <a href="{% url cadmin.views.familyCreateForm %}">
    &lfloor;&nbsp;Add
  </a>
  {% if family %}
    <a href="{% url cadmin.views.familyDelete family.id %">
      &lfloor;&nbsp;Delete
    </a>
  {% endif %}
{% endif %}

{% if user.is_authenticated %}
  <a href="{% url cadmin.views.carerList %}">
    Carers
  </a>
{% endif %}

{% if user.is_authenticated and carer %}
  <a href="{% url cadmin.views.carerUpdateForm carer.id %}">
    &lfloor;&nbsp;Edit
  </a>
{% endif %}

{% if perms.cadmin.carerCreateDelete %}
  <a href="{% url cadmin.views.carerCreateForm %}">
    &lfloor;&nbsp;Add
  </a>
  {% if carer %}
    <a href="{% url cadmin.views.carerDelete carer.id">
      &lfloor;&nbsp;Delete
    </a>
  {% endif %}
{% endif %}