<ul class="nav nav-list">

  {% if user.is_authenticated %}

    <!-- Family Section -->
    
    <li class="nav-header">Families</li>
    <li><a href="{% url cadmin.views.familyList %}">Family List</a></li>
  
    {% if family %}
      <li><a href="{% url cadmin.views.familyUpdateForm family.id %}">Edit</a></li>
    {% endif %}

    {% if perms.cadmin.familyCreateDelete %}
      {% if family %}
        <li><a href="{% url cadmin.views.familyDelete family.id %}">Delete</a></li>
      {% endif %}
      <li><a href="{% url cadmin.views.familyCreateForm %}">Add</a></li>
    {% endif %}


    <!-- Carer Section -->

    <li class="nav-header">Carers</li>
    <li><a href="{% url cadmin.views.carerList %}">Carer List</a></li>


    {% if carer %}
      <li><a href="{% url cadmin.views.carerUpdateForm carer.id %}">Edit</a></li>
    {% endif %}

    {% if perms.cadmin.carerCreateDelete %} 
      {% if carer %}
        <li><a href="{% url cadmin.views.carerDelete carer.id %}">Delete</a></li>
      {% endif %}
      <li><a href="{% url cadmin.views.carerCreateForm %}">Add</a></li>
    {% endif %}

    
    <!-- Operation Section -->    

    <li class="nav-header">Operations</li>

    {% if perms.cadmin.operationCreateDelete %}
      <li><a href="{% url cadmin.views.summary %}">Operations</a></li> 
      <li><a href="{% url cadmin.views.operationCreateForm %}">Add</a></li>
      {% if operation %}
        <li><a href="{% url cadmin.views.operationDelete operation.id %}">Delete</a></li>
      {% endif %}
    {% endif %}

  {% endif %}
</ul>