{% if payment_list %}

<table class = "table table-striped">
  <tr>
    <td>Date</td>
    <td>Method</td>    
    <td>Amount</td>
    <td>Actions</td>
  </tr>

  {% for payment in payment_list %}
  <tr>
    <td>{{payment.date}}</td>
    <td>{{payment.get_method_display}}</td>
    <td>{{payment.amount}} &#8364;</td>
    <td>
      <a href="{% url cadmin.views.carerPaymentEditForm payment.carer.id payment.id %}">
        <span class="label">Edit</span>
      </a>
      &nbsp;
      <a href="#deleteModal" data-toggle="modal">
        <span class="label">Delete</span>
      </a>

      <!-- Modal -->
      <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <h3 id="myModalLabel">Confirm</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want delete this transaction?</p>
          <small>({{payment.carer.firstname}} {{payment.carer.lastname}} {{payment.amount}} &#8364; on {{payment.date}})</small>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <a href="{% url cadmin.views.carerPaymentDelete payment.carer.id payment.id %}" role="button" class="btn btn-primary">Conirm</a>
        </div>
      </div>
      <!-- End Modal -->


    </td>
  </tr>
  {% endfor %}  
</table>

{% endif %}