{% if operation_list %}

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Von</th>
      <th>Bis</th>
      <!-- Make the list modular -->
      <!-- Display care person if this is an operation list for an carer -->
      <!-- Display carer if this is an operation list for a care person -->
      {% if carer %}
      <th>Zu pflegende Person</th>
      {% elif family %}
      <th>PflegerInn</th>
      {% endif %}
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
  {% for operation in operation_list %}
  <tr>
    <td>{{operation.start_date}}</td>
    <td>{{operation.end_date|default_if_none:'&nbsp;'}}</td>

    {% if carer %}
    <td><a href="{% url cadmin.views.familyDetails operation.family.id %}">
      {{operation.family.firstname_care_person}} {{operation.family.lastname_care_person}}
    </a></td>
    {% elif family %}
    <td><a href="{% url cadmin.views.carerDetails operation.carer.id %}">
      {{operation.carer}}
    </a></td>
    {% endif %}
    
    <td>

      <a href="{% url cadmin.views.operationUpdateForm operation.id %}">
        <span class="label">Bearbeiten</span>
      </a>
      &nbsp;
      <a href="#operationDeleteDialog{{operation.id}}" data-toggle="modal">
        <span class="label">L&ouml;schen</span>
      </a>
      <!-- include the modal embedded in this file -->
      {% include 'cadmin/dialogs/operationDeleteDialog.html' %}
    </td>
  </tr>
  {% endfor %}  
  </tbody>
</table>

{% else %}
Keine Eintr&auml;ge vorhanden!
{% endif %}