{% if payment_list %}

<table class = "table table-striped">
  <tr>
    <td>Date</td>
    <td>Method</td>    
    <td>Amount</td>
    <td>Actions</td>
  </tr>

  {% for payment in payment_list %}
  <tr>
    <td>{{payment.date}}</td>
    <td>{{payment.method}}</td>
    <td>{{payment.amount}} &#8364;</td>
    <td>
      <a href="{% url cadmin.views.carerPaymentEditForm payment.carer.id payment.id %}">
        <span class="label">Edit</span>
      </a>
      &nbsp;
      <a href="{% url cadmin.views.carerPaymentDelete payment.carer.id payment.id %}">
        <span class="label">Delete</span>
      </a>
    </td>
  </tr>
  {% endfor %}  
</table>

{% endif %}