{% extends 'base.html' %}

{% block title %}summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="/pflegeadmin/f/">Familien</a>
  {% if family %}  
    &gt; <a href="/pflegeadmin/f/{{family.id}}">{{family.id}}</a>
  {% else %}
    &gt; <a href="/pflegeadmin/f/edit">Hinzuf&uuml;gen</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% if family %}
    <h1>Bearbeite Familie {{family.id}}</h1>
  {% else %}
    <h1>Neue Familie</h1>
  {% endif %}

  {% for field in form %}
    {%if field.errors %}
      <div id="block">
        {{field.label_tag}}: {{field.errors}}
      </div>
    {% endif %}
  {% endfor %}

  {% if family %}
    <form action="/pflegeadmin/f/{{family.id}}/edit/" method="post">
  {% else %}
    <form action="/pflegeadmin/f/edit/" method="post">
  {% endif %}
    
      {% csrf_token %}
  
      <table class="form">
        {% for field in form %}
          <tr class="form">
            <td class="form"> {{field.label_tag}} </td>
            <td class="form"> {{field}}           </td>
          </tr>
        {% endfor %}
      </table>

      <input type="submit" value="Speichern" />
      <input type="reset" value="Abbrechen" />
    </form>


{% endblock %}

{% block topicmenu %}
  {% include 'pflegeadmin/topicmenu.html' %}
{% endblock %}