{% extends 'base.html' %}

{% block title %}summary{% endblock %}

{% block breadcrumb %}
  &gt; <a href="/pflegeadmin/f/">Familien</a>
  &gt; <a href="/pflegeadmin/f/add/">Hinzuf&uuml;gen</a>
{% endblock %}

{% block content %}

  <h1>Neue Familie</h1>
  
  <form action="/pflegeadmin/f/new/" method="post">
    {% csrf_token %}
    <table>
      <tr><td colspan="2"> Zu Betreuende Person </td></tr>

      <tr>
        <td> Vorname </td>
        <td> <input type="text" name="firstname_care_p" value = "" /> </td>
      </tr>
      <tr>
        <td> Nachname </td>
        <td> <input type="text" name="lastname_care_p" value = "" /> </td>
      </tr>
    </table>

  <input type="submit" value="Speichern" />
  <input type="reset" value="Abbrechen" />
</form>

{% endblock %}

{% block topicmenu %}
  {% include 'pflegeadmin/topicmenu.html' %}
{% endblock %}