<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"/>

    <title>
      Armela-Senior Pflege - {%block title %}{% endblock %}
    </title>
  </head>

  <body>
    <div id="main">

      <div id="topmenu">
        {% include 'menu.html' %}
      </div>

      <div id="header">
        <span class="title">Armela-Senior <span class="darktitle">Pflege</span></span><br/>
      </div>

      <div id="content">

        <div id="breadcrumb">
          <a href="/">Home</a>
          {% block breadcrumb %}
            <!-- will be filled up by childs -->
          {% endblock %}
        </div>

        {% block content %}
          <!-- will be filled up by childs -->

          <!-- use if neccesarry -->
          <!-- <div id="block"> -->
          <!-- </div> -->          
        {% endblock %}


        <div id="footer">
          &copy; 2012 Profipflege
        </div>

      </div>

      <div id="lefty">
        <div id="menu">
          {% block topicmenu %}
            <!-- will be filled up by childs -->
          {% endblock %}
        </div>
        <!-- <p>possible block 2</p> -->
      </div>
    </div>
  </body>
</html>