{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}&gt;<a href="{% url django.contrib.auth.views.logout %}">Logout</a>{% endblock %}

{% block content %}

  <div id="block">
    {% if not user.is_authenticated %}
      Logout succesfull!
    {% endif %}
    {% if user.is_authenticated %}
      Logout NOT succesfull!
    {% endif %}
  </div>



{% endblock %}

{% block topicmenu %}
  {% if not user.is_authenticated %}
    <a href="{% url django.contrib.auth.views.login %}">Login</a>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
  {% endif %}
{% endblock %}