<!-- alltime features -->
<!-- none -->

<!-- not-logged-in features -->
{% if not user.is_authenticated %}
  <a href="{% url profipflege.views.index %}">Home</a>
  <a href="{% url django.contrib.auth.views.login %}">Login</a>
{% endif %}

<!-- logged-in-features -->
{% if user.is_authenticated %}
  <!-- <a href="{% url profipflege.views.index %}">Home</a> -->
  <a href="{% url cadmin.views.summary %}">Summary</a>
  <a href="{% url cadmin.views.familyList %}">Families</a>
  <a href="{% url cadmin.views.carerList %}">Carer</a>
{% endif %}

<!-- admin feature -->
{% if user.is_staff %}
  <a href="/admin">Admin</a>
{% endif %}

<!-- further logged-in-features -->
{% if user.is_authenticated %}
  <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
{% endif %}