<ul class="nav">

  <!-- alltime features -->
  <!-- none -->

  <!-- not-logged-in features -->
  {% if not user.is_authenticated %}
  <li><a href="{% url django.contrib.auth.views.login %}">Anmelden</a></li>
  {% endif %}

  <!-- logged-in-features -->
  {% if user.is_authenticated %}
  <li><a href="{% url cadmin.views.summary %}">Zusammenfassung</a></li>
  <li><a href="{% url cadmin.views.familyList %}">Familien</a></li>
  <li><a href="{% url cadmin.views.carerList %}">PflegerInnen</a></li>
  {% endif %}

  <!-- admin feature -->
  {% if user.is_staff %}
  <li><a href="/admin">Admin</a></li>
  {% endif %}

  <!-- further logged-in-features -->
  {% if user.is_authenticated %}
  <li><a href="{% url profipflege.views.logoutView %}">Abmelden</a></li>
  {% endif %}

</ul>     