<!--

  Call this by linking at #carerDeleteDialog

-->


<!-- Modal -->
<div id="carerDeleteDialog{{carer.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Warnung</h3>
  </div>
  <div class="modal-body">
    <p>Sind Sie sicher dass Sie diese(n) PflegerInn l&ouml;schen wollen?</p>
    <small>
      ({{carer}})
    </small>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
    <a href="{% url 'cadmin.views.carerDelete' carer.id %}" role="button" class="btn btn-primary">Best&auml;tigen</a>
  </div>
</div>
<!-- End Modal -->