<!--

  Call this by linking at #carerDeleteDialog

-->


<!-- Modal -->
<div id="carerDeleteDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Confirm</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure that you want delete this carer?</p>
    <small>
      ({{carer.firstname}} {{carer.lastname}})
    </small>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{% url cadmin.views.carerDelete carer.id %}" role="button" class="btn btn-primary">Conirm</a>
  </div>
</div>
<!-- End Modal -->