<!--

  Call this by linking at #familyDeleteDialog

-->


<!-- Modal -->
<div id="familyDeleteDialog{{family.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Warnung</h3>
  </div>
  <div class="modal-body">
    <p>Sind Sie sicher dass Sie diese Familie l&ouml;schen wollen?</p>
    <small>
      (Zu Pflegende Person: {{family.firstname_care_person}} {{family.lastname_care_person}}
       Kontakt Person: {{family.firstname_contact_person}} {{family.lastname_contact_person}})
    </small>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
    <a href="{% url cadmin.views.familyDelete family.id %}" role="button" class="btn btn-primary">Best&auml;tigen</a>
  </div>
</div>
<!-- End Modal -->