<!--

  Call this by linking at #operationDeleteDialog

-->


<!-- Modal -->
<div id="operationDeleteDialog{{operation.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Warnung</h3>
  </div>
  <div class="modal-body">
    <p>Sind Sie sicher dass Sie diesen Einsatz l&ouml;schen wollen?</p>
    <small>
      ({{operation.carer.firstname}} {{operation.carer.firstname}} f&uuml;r
      {{operation.family.firstname_care_person}} {{operation.family.lastname_care_person}} von {{operation.start_date}} bis {{operation.end_date}})
    </small>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
    <a href="{% url cadmin.views.operationDelete operation.id %}" role="button" class="btn btn-primary">Best&auml;tigen</a>
  </div>
</div>
<!-- End Modal -->